* {
  box-sizing: border-box;
}

#ourProjects,
body {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

#about, #services, #ourProjects, #team, #happyClient, #logos, #prices, #premium, #facts, #social-bar, #contact, footer {
  padding: 30px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn-style {
  text-transform: uppercase;
  color: white;
  background-color: #b88b58;
  border: 2px solid #b88b58;
  outline: none;
  border-radius: 20px;
  padding: 10px 35px;
  cursor: pointer;
  transition: 0.6s;
  font-size: 18px;
  opacity: 0.7;
  display: block;
  margin: 0 auto;
}

.btn-style:hover {
  opacity: 1;
}

.btn-choose {
  background-color: #373737;
  border: none;
  opacity: 1;
}

.btn-choose:hover {
  background-color: #b88b58;
}

.hcenter, .pcenter {
  text-transform: uppercase;
  text-align: center;
}

.hcenter {
  font-size: 30px;
  margin: 0;
}

.pcenter {
  font-size: 14px;
  line-height: 30px;
}

.gray {
  color: #aeaeae;
  margin: 0;
}

.line:after {
  content: "";
  display: block;
  border: 1px solid #aeaeae;
  width: 20px;
  margin: 5px auto;
}

#home {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
}

#home .navbar nav {
  line-height: 60px;
  color: white;
  background-color: black;
}

#home .navbar nav img {
  position: absolute;
  top: 10px;
  left: 100px;
}

#home .navbar nav ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

#home .navbar nav ul li {
  padding: 10px 10px;
  font-weight: bold;
  border-bottom: 5px solid black;
  transition: .5s;
  cursor: pointer;
  display: inline-block;
}

#home .navbar nav ul li:hover {
  border-bottom: 5px solid #b88b58;
}

#home .navbar nav ul li a {
  text-decoration: none;
  color: white;
}

#home .navbar nav .mobile-menu {
  display: none;
  text-align: right;
}

#home .navbar nav .mobile-menu label {
  display: inline-block;
}

#home .navbar nav #mobile-menu {
  display: none;
}

#home .navbar nav #mobile-menu:checked + ul {
  display: block;
}

#home .navbar .header-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: white;
  height: 600px;
}

#home .navbar .header-content h1 {
  font-size: 72px;
}

#home .navbar .header-content h1 span {
  color: #b88b58;
}

#home .navbar .header-content p {
  font-size: 30px;
}

#about .pcenter {
  color: #aeaeae;
}

#about .space {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

#about .space .left {
  flex: 5;
  padding: 0 40px 0 10px;
}

#about .space .left .btn-left {
  margin: 0;
}

#about .space .right {
  flex: 4;
}

#services {
  background-color: black;
  color: white;
}

#services p {
  color: #828282;
}

#services .serv:first-of-type {
  border-left: 1px solid white;
}

#services .serv .oneservice {
  border-right: 1px solid white;
  flex: 1;
  text-align: center;
  margin: 10px 0 10px 0;
}

#services .serv .oneservice h3 {
  text-transform: uppercase;
}

#services .serv .oneservice p {
  color: #767676;
}

#ourProjects .flex-nav .secondNav {
  border: 1px solid #aeaeae;
  border-radius: 25px;
  max-width: 600px;
  line-height: 56px;
  margin: 0 auto;
  background-color: #ededed;
}

#ourProjects .flex-nav .secondNav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#ourProjects .flex-nav .secondNav ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 0 10px;
  border-right: 1px solid #aeaeae;
  border-bottom: 3px solid #ededed;
  border-top: 3px solid #ededed;
  transition: 0.6s;
}

#ourProjects .flex-nav .secondNav ul li:last-of-type {
  border: none;
}

#ourProjects .flex-nav .secondNav ul li:hover {
  border-bottom: 3px solid #b88b58;
}

#ourProjects .flex-nav .secondNav ul li a {
  text-decoration: none;
  display: block;
  color: black;
}

#ourProjects .gallery .row .photo .layer {
  display: inline-block;
  position: relative;
  text-align: center;
}

#ourProjects .gallery .row .photo .layer .layer-content {
  position: absolute;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.749);
  width: 255px;
  height: 165px;
  transition: all ease-in-out .5s;
  transform: scale(0);
}

#ourProjects .gallery .row .photo .layer img {
  vertical-align: middle;
  line-height: 0;
}

.gallery .photo:hover .layer {
  transform: scale(1);
  cursor: pointer;
}

#team {
  background-image: url("../img/background2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#team h2 {
  color: white;
}

#team .workers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#team .workers .oneperson {
  flex: 1;
  text-align: center;
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  transition: .5s;
  max-width: 300px;
}

#team .workers .oneperson:hover {
  transform: scale(1.1);
}

#team .workers .oneperson h3 {
  text-transform: uppercase;
}

#team .workers .oneperson .social-btn {
  background-color: #aeaeae;
  transition: .5s;
  margin: 0;
}

#team .workers .oneperson .social-btn:hover {
  background-color: #b88b58;
}

#happyClient {
  background-color: #f7f7f7;
  text-align: center;
}

#happyClient .bold {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

#happyClient .bold2 {
  font-weight: bold;
}

#happyClient .pcenter {
  color: #aeaeae;
}

#happyClient .gray {
  width: 70%;
  margin: 0 auto;
}

#happyClient img {
  padding: 10px;
}

#logos {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

#logos .row {
  justify-content: space-around;
  margin: 0 10%;
}

#logos .row img {
  padding: 20px;
}

#prices {
  background-color: #f7f7f7;
}

#prices .row {
  justify-content: space-around;
}

#prices .row .priceBox {
  text-align: center;
  justify-content: center;
  background-color: white;
  margin: 20px;
  padding: 40px;
  border-radius: 3px;
  transition: transform .5s;
}

#prices .row .priceBox span {
  font-weight: bold;
}

#prices .row .priceBox h3 {
  text-transform: uppercase;
  font-size: 14px;
}

#prices .row .priceBox .dolar {
  font-size: 30px;
}

#prices .row .priceBox ul {
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}

#prices .row .priceBox:hover {
  transform: scale(1.1);
}

#premium .center {
  margin: 0 auto;
  display: block;
}

#premium .leftPremium {
  flex: 3;
}

#premium .rightPremium {
  padding-top: 40px;
  flex: 4;
}

#premium .rightPremium .checked img {
  padding: 0 20px;
  flex: 1;
}

#premium .rightPremium .desc {
  flex: 5;
}

#premium .rightPremium .desc h2 {
  margin: 0;
}

#premium .rightPremium .desc ul {
  padding: 0;
}

#premium .rightPremium .desc ul li {
  list-style-type: none;
}

#facts {
  background-color: black;
  color: white;
  text-align: center;
}

#facts .row {
  justify-content: center;
}

#facts .row .fact {
  flex: 1;
  padding: 0 30px;
  max-width: 300px;
}

#facts .row .fact h3 {
  font-size: 40px;
  color: #b88b58;
}

#facts .row .fact h4 {
  margin: 0;
}

#facts .row .fact p {
  font-size: 14px;
  color: #aeaeae;
}

#social-bar {
  border-bottom: 1px solid #aeaeae;
}

#social-bar .social-items {
  justify-content: center;
  align-items: center;
}

#social-bar .social-items .share {
  justify-content: center;
  align-items: center;
}

#social-bar .social-items .share img {
  line-height: 0;
  padding-right: 10px;
}

#social-bar .social-items .share h3 {
  font-size: 20px;
}

#social-bar .social-items .icon-btn {
  border-radius: 50%;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: none;
  margin: 0px 5px 0px 20px;
  line-height: 1;
  color: white;
  transition: .5s;
}

#social-bar .social-items .twitter {
  background-color: #34c5f0;
}

#social-bar .social-items .twitter:hover {
  background: none;
  color: #34c5f0;
  border: 2px solid #34c5f0;
}

#social-bar .social-items .linkedin {
  background-color: #3690bf;
}

#social-bar .social-items .linkedin:hover {
  background: none;
  color: #3690bf;
  border: 2px solid #3690bf;
}

#social-bar .social-items .fb {
  background-color: #336297;
}

#social-bar .social-items .fb:hover {
  background: none;
  color: #336297;
  border: 2px solid #336297;
}

#social-bar .social-items .google {
  background-color: #e74237;
}

#social-bar .social-items .google:hover {
  background: none;
  color: #e74237;
  border: 2px solid #e74237;
}

#social-bar .social-items .pinterest {
  background-color: #b71c29;
}

#social-bar .social-items .pinterest:hover {
  background: none;
  color: #b71c29;
  border: 2px solid #b71c29;
}

#contact {
  background-color: #f7f7f7;
}

#contact h2 {
  padding-bottom: 20px;
}

#contact .contact-form {
  padding-top: 20px;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  font-size: 13px;
}

#contact .contact-form form {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#contact .contact-form form .form-name {
  margin: 0 auto;
}

#contact .contact-form form .form-name input {
  width: 230px;
  border-bottom: 1px solid #aeaeae;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 10px;
  font-size: 13px;
  padding: 10px 0;
}

#contact .contact-form form .rest-of-form {
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

#contact .contact-form form .rest-of-form input:first-of-type {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aeaeae;
  background: none;
  margin: 10px;
  font-size: 13px;
  padding: 10px 0;
}

#contact .contact-form form .rest-of-form textarea {
  margin: 10px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aeaeae;
  font-size: 13px;
}

#mapsection {
  position: relative;
}

#mapsection .info-box {
  position: absolute;
  left: 150px;
  top: 50px;
  width: 500px;
  height: auto;
  background-color: white;
  padding: 20px;
}

#mapsection .info-box .info {
  padding: 5px;
  align-items: center;
}

#mapsection .info-box .info p {
  font-size: 12px;
  padding-left: 20px;
}

footer {
  background-color: black;
  color: white;
}

footer .scrollTop {
  position: fixed;
  left: 50px;
  bottom: 50px;
}

footer .container {
  justify-content: space-between;
  max-width: 1000px;
}

footer .container .social-box, footer .container .description, footer .container .subscribe {
  flex: 1;
}

footer .container .social-box {
  flex-direction: column;
}

footer .container .social-box .social {
  padding-bottom: 100px;
}

footer .container .description {
  font-size: 12px;
}

footer .container .description .gray {
  margin: 0;
  line-height: 1.5;
  padding-right: 20px;
}

footer .container .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #373737;
  width: 200px;
  height: 190px;
  margin-left: 20px;
  border-radius: 5px;
}

footer .container .subscribe input:first-of-type {
  background: none;
  border-bottom: 2px solid #f7f7f7;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: 600;
  font-size: 16px;
  color: #aeaeae;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5;
  outline: none;
}

footer .container .subscribe input:last-of-type {
  margin-top: 30px;
}

.icon-footer, .social-btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #373737;
  border: none;
  transition: .5s;
  color: white;
  margin: 2px;
  cursor: pointer;
}

.icon-footer:hover, .social-btn:hover {
  background-color: #b88b58;
}

@media (max-width: 991px) {
  header .navbar nav .container .mobile-menu {
    display: block;
  }
  header .navbar nav .container ul {
    display: none;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 50%;
  }
  header .navbar nav .container ul li {
    display: block;
    text-align: center;
  }
  #premium .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #premium .column .leftPremium img {
    width: 100%;
    height: auto;
  }
  #premium .column .rightPremium .feature {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #home .navbar .header-content h1 {
    font-size: 10vw;
  }
  #home .navbar .header-content h1 span {
    font-size: 10vw;
  }
  #about .space {
    flex-direction: column;
    justify-content: center;
  }
  #about .space .left {
    text-align: center;
    padding: 0 40px;
  }
  #about .space .left .btn-left {
    margin: 0 auto;
    opacity: 1;
  }
  #about .space .right {
    margin: 0 auto;
  }
  #services .container .serv {
    border: none;
  }
  #services .container .row {
    flex-direction: column;
  }
  #services .container .row .oneservice {
    padding: 10px;
    border-right: none;
  }
  #services .container .row .linedown:after {
    content: "";
    display: block;
    border: 1px solid white;
    width: 80%;
    margin: 30px auto 10px;
  }
  #ourProjects .secondNav {
    margin: 0 20px;
    width: 300px;
  }
  #ourProjects .secondNav ul {
    flex-direction: column;
    padding: 0 10px;
  }
  #ourProjects .secondNav ul li {
    text-align: center;
  }
  #ourProjects img {
    margin: 0 auto;
    padding: 20px;
  }
  #team .row {
    flex-direction: column;
    align-items: center;
  }
  #facts .container .row {
    flex-direction: column;
    align-items: center;
  }
  #social-bar .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #social-bar .buttons .icon-btn {
    margin: 5px;
  }
  #social-bar .buttons .gray {
    display: none;
  }
  #contact form .row {
    flex-direction: column;
    align-items: center;
  }
  #contact form .row input {
    max-width: 200px;
    margin: 0 auto;
  }
  #mapsection .info-box {
    display: none;
  }
  footer .content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  footer .content .social-box {
    text-align: center;
  }
  footer .content .social-box .social {
    padding: 0;
    margin: 10px auto;
  }
  footer .content .description {
    text-align: center;
    margin: 20px 20px;
  }
  footer .content .description .gray {
    padding: 0;
  }
  footer .content .subscribe {
    width: 80%;
    padding: 10px;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  #about .right img {
    width: 100%;
    height: auto;
  }
  #contact .contact-form {
    width: 300px;
  }
  #contact .contact-form form .rest-of-form {
    width: 300px;
  }
  #contact .contact-form form .rest-of-form input {
    width: 200px;
  }
  #contact .contact-form form .rest-of-form textarea {
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */